<body>
  <h4>Edit product</h4>
     <form  [formGroup]="editProduct" (ngSubmit)="updateProduct()" >
        <div>
          <div class="form-group">
     <!-- fromConrtrole name bech tji 3al select  select :  option bech ikoun feha l id wl espace win tekteb bech ikoun feha {{}}-->
           <label for="name">name</label>
            <input id="name" type="text"  formControlName="name" [(ngModel)]="product.name" >
            <br> <br>
            <label for="description">description</label>
            <input id="description" type="text"  formControlName="description" [(ngModel)]="product.description" >
            <br> <br>
            <label for="unit price">unit price</label>
            <input id="unit_price" type="text"  formControlName="unit_price"[(ngModel)]="product.unit_price"  >
        
            <br> <br> 
            <label for="cars">TVA:</label>

            <select class="form-control col-lg-8" (change)="onChangeVat($event)" formControlName="vat" required [(ngModel)]="product.vat" >
              <option *ngFor="let vat of vatsList" [value]="vat.code">
                  {{vat.value}}
              </option>    
          </select>
<br> <br>
            <label for="cars">Unity:</label>
            <select class="form-control col-lg-8" (change)="onChangeUnity($event)" formControlName="unity" required [(ngModel)]="product.unity" >
              <option *ngFor="let unity of uitiesList" [value]="unity.code">
                  {{unity.name}}
              </option>    
          </select>
            <br> <br>
            <button type="submit" class="button">Edit</button>
          </div>
          </div>
        </form>
   
  </body>
  
  