<body>
  <h1>product details</h1>
  <div>
    <h2>type</h2>
    <p>{{client.type}}</p>
    <h2>name</h2>
    <p>{{client.name}}</p>
    <h2>country</h2>
    <p>{{client.countryName}}</p>
    <h2>payment condition</h2>
    <p>{{client.payment_condition_value}}</p>
    <h2>firstname</h2>
    <p>{{client.firstname}}</p>
    <h2>lastname</h2>
    <p>{{client.lastname}}</p>
    <h2>reference</h2>
    <p>{{client.reference}}</p>
    <h2>registry number</h2>
    <p>{{client.registry_number}}</p>
    <h2>vat number</h2>
    <p>{{client.vat_number}}</p>
    <h2>address</h2>
    <p>{{client.address}}</p>
    <h2>zipcode</h2>
    <p>{{client.zipcode}}</p>
    <h2>city</h2>
    <p>{{client.city}}</p>
    <h2>mail</h2>
    <p>{{client.mail}}</p>
    <h2>phone</h2>
    <p>{{client.phone}}</p>
    <h2>ebill_type</h2>
    <p>{{client.ebill_type}}</p>
    <h2>ebill identifier</h2>
    <p>{{client.ebill_identifier}}</p>

  </div>
    
  </body>
  
  